#dialogpanel_background {
    left: 0;
    top: 0;
    position: absolute;
    width: 1280px;
    height: 720px;
    opacity: 0.8;
    background: #000;
    color: #333;
}

#DialogPanel {
    z-index: 499;
    position: absolute;
    width: 640px;
    height: 320px;
    border: 1px solid #7f7f7f;
    border-radius: 4px;
    background-color: #ffffff;
}

#TextDialog {
    position: absolute;
    left: 0px;
    top: 50px;
    width: 580px;
    height: 220px;
    overflow: hidden;
    text-align: center;
    font-size: 24px;
    padding: 0 30px;
}

#Dialogbtn0 {
    position: absolute;
    text-align: center;
    left: 85px;
    top: 250px;
    width: 180px;
    height: 38px;
    padding-top: 12px;
    border-radius: 4px;
}

#Dialogbtn1 {
    position: absolute;
    text-align: center;
    left: 385px;
    top: 250px;
    width: 180px;
    height: 38px;
    padding-top: 12px;
    border-radius: 4px;
}

#Dialogbtn2 {
    position: absolute;
    text-align: center;
    left: 230px;
    top: 250px;
    width: 180px;
    height: 38px;
    padding-top: 12px;
    border-radius: 4px;
}

.btn {
    background-color: transparent;
    font-size: 18pt;
    color: #333;
    border: 1px solid #7f7f7f;
    border-radius: 4px;
}

.btn_focus {
    background-color: #66afe9;
    font-size: 18pt;
    color: #ffffff;
    border: 1px solid #3C78A7;
}

