body {
    font-family: Arial, "Bitstream Vera Sans", sans-serif;
    font-size: 24px;
    font-weight: normal;
    color: #333;
}

div#OperatorLogin {
    position: absolute;
    width: 640px;
    height: 360px;
    left: 320px;
    top: 180px;
    background: #ffffff;
    border: 1px solid #7f7f7f;
    border-radius: 4px;
}

div#OperatorLoginTitle {
    position: relative;
    width: 250px;
    height: 35px;
    left: 20px;
    top: 10px;
    font-size: 20px;
}

div#OperatorLoginInput {
    position: relative;
    width: 250px;
    height: 50px;
    line-height: 50px;
    left: 200px;
    top: 100px;
    border: 1px solid #7f7f7f;
    text-align: center;
}

div#OperatorLoginOK {
    position: relative;
    width: 200px;
    height: 50px;
    line-height: 50px;
    left: 225px;
    top: 180px;
    text-align: center;
    background-color: #66afe9;
    color: #fff;
    border-radius: 4px;
}

div#OperatorLoginName_0 {
    position: absolute;
    width: 350px;
    height: 40px;
    line-height: 40px;
    left: 20px;
    top: 64px;
    font-size: 18px;
}

div#OperatorLoginName_1 {
    position: absolute;
    width: 350px;
    height: 40px;
    line-height: 40px;
    left: 20px;
    top: 106px;
    font-size: 18px;
}

div#OperatorLoginName_2 {
    position: absolute;
    width: 350px;
    height: 40px;
    line-height: 40px;
    left: 20px;
    top: 148px;
    font-size: 18px;
}

div#OperatorLoginName_3 {
    position: absolute;
    width: 350px;
    height: 40px;
    line-height: 40px;
    left: 20px;
    top: 190px;
    font-size: 18px;
}

div#OperatorLoginName_4 {
    position: absolute;
    width: 350px;
    height: 40px;
    line-height: 40px;
    left: 20px;
    top: 232px;
    font-size: 18px;
}

div#OperatorLoginName_5 {
    position: absolute;
    width: 350px;
    height: 40px;
    line-height: 40px;
    left: 20px;
    top: 274px;
    font-size: 24px;
}

div#OperatorLoginInput_0 {
    position: absolute;
    width: 348px;
    height: 38px;
    line-height: 40px;
    left: 256px;
    top: 64px;
    background: #D4D4D4;
    color: #7f7f7f;
    text-align: center;
    border: 1px transparent solid;
    font-size: 24px;
}

div#OperatorLoginInput_1 {
    position: absolute;
    width: 348px;
    height: 38px;
    line-height: 40px;
    left: 256px;
    top: 106px;
    border: 1px solid #7f7f7f;
    text-align: center;
    font-size: 24px;
}

div#OperatorLoginInput_2 {
    position: absolute;
    width: 348px;
    height: 38px;
    line-height: 40px;
    left: 256px;
    top: 148px;
    border: 1px solid #7f7f7f;
    text-align: center;
    font-size: 24px;
}

div#OperatorLoginInput_3 {
    position: absolute;
    width: 348px;
    height: 38px;
    line-height: 40px;
    left: 256px;
    top: 190px;
    border: 1px solid #7f7f7f;
    text-align: center;
    font-size: 24px;
}

div#OperatorLoginInput_4 {
    position: absolute;
    width: 348px;
    height: 38px;
    line-height: 40px;
    left: 256px;
    top: 232px;
    border: 1px solid #7f7f7f;
    text-align: center;
    font-size: 24px;
}

div#OperatorLoginInput_5 {
    position: absolute;
    width: 348px;
    height: 38px;
    line-height: 40px;
    left: 256px;
    top: 274px;
    border: 1px solid #7f7f7f;
    text-align: center;
    font-size: 24px;
}

div#OperatorLoginSubmit {
    position: absolute;
    width: 250px;
    height: 40px;
    line-height: 40px;
    left: 50px;
    top: 305px;
    text-align: center;
    font-size: 24px;
    border-radius: 4px;
    border: 1px solid #7f7f7f;
}

div#OperatorLoginCancel {
    position: absolute;
    width: 250px;
    height: 40px;
    line-height: 40px;
    left: 335px;
    top: 305px;
    text-align: center;
    font-size: 24px;
    border-radius: 4px;
    border: 1px solid #7f7f7f;
}

div#ExtensionBedNumber {
    position: absolute;
    width: 350px;
    left: 576px;
    top: 372px;
    background: #fff;
    border: 1px solid #7f7f7f;
    border-radius: 4px;
    padding: 5px;
}

div#ExtensionBedNumber div {
    width: 348px;
    height: 38px;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    border: 1px transparent solid;
}

div#ExtensionHotelProperty {
    position: absolute;
    width: 350px;
    left: 576px;
    top: 414px;
    background: #fff;
    border: 1px solid #7f7f7f;
    border-radius: 4px;
    padding: 5px;
}

div#ExtensionHotelProperty div {
    width: 348px;
    height: 38px;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    border: 1px transparent solid;
}

div#ExtensionTVSetLocation {
    position: absolute;
    width: 350px;
    left: 576px;
    top: 456px;
    background: #fff;
    border: 1px solid #7f7f7f;
    border-radius: 4px;
    padding: 5px;
}

div#ExtensionTVSetLocation div {
    width: 348px;
    height: 38px;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    border: 1px transparent solid;
}
